<div class="submission-contents flex-wrapper">
  <img {{bind-attr src='item.avatar'}} height="140px" width="140px"/>
  <div class="submitter-info flex-body">
    <h3>{{item.creator}}</h3>
    turned in {{date-formatted item.submitted_at}}
  </div>
  <a href="#" class='link-reset pull-right' {{action 'showDetails' item}}>
      {{#if isShowingDetails}}
        <span class="glyphicon glyphicon-triangle-top"></span>
      {{else}}
        <span class="glyphicon glyphicon-triangle-bottom"></span>
      {{/if}}
    </a>
</div>


{{#if isShowingDetails}}
  <div class="dark-bg">
    {{item.submitText}}
  </div>
{{/if}}

{{yield}}
